

.top-part{
    background-color: black;
    height: 400px;
    font-family: 'Lobster', cursive;
}
.text-size{
    font-size: 70px;
   color: rgb(233, 88, 35);
}


.card-img-top{
width: 250px;
height: 200px;
}






